

.tarolo{
    display: flex;
    background-color: aqua;
    height: 40%;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.doboz1{
    display: flex;
    background-color: red;
    justify-content: space-around;
    align-items: stretch;
    width: 20%;
    height: 10%;
    order: 2;
    margin: 5px;
    padding: 20px;
}

.doboz2{
    display: flex;
    background-color: green;
    justify-content: space-around;
    align-items: stretch;
    width: 20%;
    height: 90%;
    order: 3;
    margin: 5px;
    padding: 20px;
}

.doboz3{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    align-items: stretch;
    width: 20%;
    height: 90%;
    order: 4;
    margin: 5px;
    padding: 20px;
}